<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faye.demo.datasource.dao.ProductSampleNeedMapper" >
  <resultMap id="BaseResultMap" type="com.faye.demo.datasource.entity.ProductSampleNeed" >
    <result column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="relation_sample_product_limit" property="relationSampleProductLimit" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="supplier_service_category" property="supplierServiceCategory" jdbcType="BIGINT" />
    <result column="business_unit_id" property="businessUnitId" jdbcType="BIGINT" />
    <result column="owner_user_id" property="ownerUserId" jdbcType="BIGINT" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="modified_by" property="modifiedBy" jdbcType="VARCHAR" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.faye.demo.datasource.entity.ProductSampleNeed" extends="BaseResultMap" >
    <result column="detail" property="detail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Blob_Column_List" >
    detail
  </sql>
  <insert id="insert" parameterType="com.faye.demo.datasource.entity.ProductSampleNeed" >
    insert into product_sample_need (id, name, begin_time, 
      end_time, status, relation_sample_product_limit, 
      image, supplier_service_category, business_unit_id, 
      owner_user_id, created_by, gmt_created, 
      modified_by, gmt_modified, detail
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{beginTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{relationSampleProductLimit,jdbcType=INTEGER}, 
      #{image,jdbcType=VARCHAR}, #{supplierServiceCategory,jdbcType=BIGINT}, #{businessUnitId,jdbcType=BIGINT}, 
      #{ownerUserId,jdbcType=BIGINT}, #{createdBy,jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP}, 
      #{modifiedBy,jdbcType=VARCHAR}, #{gmtModified,jdbcType=TIMESTAMP}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.faye.demo.datasource.entity.ProductSampleNeed" >
    insert into product_sample_need
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="relationSampleProductLimit != null" >
        relation_sample_product_limit,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="supplierServiceCategory != null" >
        supplier_service_category,
      </if>
      <if test="businessUnitId != null" >
        business_unit_id,
      </if>
      <if test="ownerUserId != null" >
        owner_user_id,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="modifiedBy != null" >
        modified_by,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="detail != null" >
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="relationSampleProductLimit != null" >
        #{relationSampleProductLimit,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="supplierServiceCategory != null" >
        #{supplierServiceCategory,jdbcType=BIGINT},
      </if>
      <if test="businessUnitId != null" >
        #{businessUnitId,jdbcType=BIGINT},
      </if>
      <if test="ownerUserId != null" >
        #{ownerUserId,jdbcType=BIGINT},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedBy != null" >
        #{modifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="selectById" resultMap="BaseResultMap">
    select * from product_sample_need
    where id = #{id}
  </select>
  
  <select id="selectJoin" resultMap="BaseResultMap">
    select a.*,b.*,c.*,d.*,f.*
    from product_sample_need a
    left join product_sample_need b
    on a.id = b.id
    left join product_sample_need c 
    on b.id = c.id
    left join product_sample_need d
    on c.id = d.id
    left join product_sample_need f
    on d.id = f.id
  </select>
  
  <select id="selectOneTable" resultMap="BaseResultMap">
    select * from product_sample_need
  </select>
  
  <insert id="batchInsert">
    insert into 
    product_sample_need(id, name, begin_time, 
      end_time, status, relation_sample_product_limit, 
      image, supplier_service_category, business_unit_id, 
      owner_user_id, created_by, gmt_created, 
      modified_by, gmt_modified, detail
      )
    values
    <foreach collection="list"  item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR}, #{item.beginTime,jdbcType=TIMESTAMP},
      #{item.endTime,jdbcType=TIMESTAMP}, #{item.status,jdbcType=INTEGER}, #{item.relationSampleProductLimit,jdbcType=INTEGER},
      #{item.image,jdbcType=VARCHAR}, #{item.supplierServiceCategory,jdbcType=BIGINT}, #{item.businessUnitId,jdbcType=BIGINT},
      #{item.ownerUserId,jdbcType=BIGINT}, #{item.createdBy,jdbcType=VARCHAR}, #{item.gmtCreated,jdbcType=TIMESTAMP},
      #{item.modifiedBy,jdbcType=VARCHAR}, #{item.gmtModified,jdbcType=TIMESTAMP}, #{item.detail,jdbcType=LONGVARCHAR}
      )
    </foreach>
      
    
  </insert>
</mapper>